*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/*
. => class selector
# => id selector
*/

.navbar {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  background: #1B1464;
  color: white;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.navbar ul li a:hover {
  color: #dcdde1;
}